[flake8]
count = True
extend-exclude = .*/

### Rules choice
# DOC: We use flake8 just to run pydoclint, ruff takes care about the rest
select=DOC
# DAR401: The docstring is missing an exception raised
ignore=DOC5,DOC6,DOC203,DOC404

### Darglint options
style = sphinx
arg-type-hints-in-docstring = False
skip-checking-short-docstrings = False
skip-checking-raises = True
check-return-types = False
check-yield-types = False
check-class-attributes = False
check-style-mismatch = True
